* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #a67ccb;
}

h1 , p , a, label, input {
  font-family: "Crete Round", sans-serif;
}

header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  padding-right: 15px;
  font-size: x-large;
}

header ul li a {
  text-decoration: none;
  color: black;
}

main {
  text-align: left;
  padding: 10px 20px ;
}

.about img {
  width: 100%
}

main .about h2 {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2em;
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0);
}

main .about p {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
  top: 28%;
  left: 50%;
  transform: translate(-50%,-20%);
  font-size: 1em;
  text-decoration: none;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0);
}

.tiers {
  padding: 20px;
  text-align: center;
}

.tiers ul {
  list-style: none;
  font-size: 2em;
}

.s-tier {
  color: aqua;
}

.a-tier {
  color: green;
}

.b-tier {
  color: lightgreen;
}

.c-tier {
  color: yellow;
}

.d-tier {
  color: orange;
}

.f-tier {
  color: darkred;
}

.brand-overviews {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.brand-overviews img {
  width: 25%;
}

.brand-overviews h1, h2 {
  padding-top: 20px;
}

.Cadbury, .Mars, .Nestle, .Lindt, .FerreroRocher, .Kinder {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.Cadbury-description, .Mars-description, .Nestle-description, 
.Lindt-description, .FerreroRocher-description, .Kinder-description {
  flex-direction: column;
  padding-left: 20px;
}


/* .brand-overviews .Cadbury h3 {
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-0%,-410%);
  font-size: 3em;
  text-decoration: none;
  background-color: rgba(161, 69, 7, 0);
  padding: 10px 30px;
  border-radius: 20px;
} */

.Avoid {
  display: flex;
  flex-direction: column;
}

.Avoid img {
  padding-top: 35px;
  width: 35%;
}

.dc-class, .curly-class, .qs-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dark-chocolate, .curly, .Quality-street{
  padding-top: 10px;
  text-align: center;
  align-items: center;
}

.honorable-mentions {
  padding: 20px 0px;
}

.honorable-mentions h1, h2 {
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form label {
  color: black;
  font-size: 1.5em;
  width: 400px;
  
}

.form input, textarea {
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
}

.form form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.form form label {
  color: white;
}

.form .form-logo {
  font-size: 96px;
}

footer {
  text-align: right;
}

@media (max-width: 636px) {
  html {
    font-size: x-small;
  }
  main .about h2 {
    font-size: 1em;
  }

  main .about p {
    font-size: 0.75em;
  }
}

@media (min-width: 768px) {
  html {
    background-color: aliceblue;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form form .form-logo {
    margin-right: 20px;
  }

}
