* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #a67ccb;
}

h1 , p , a, label, input {
  font-family: "Crete Round", sans-serif;
}

header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  padding-right: 15px;
  font-size: x-large;
}

header ul li a {
  text-decoration: none;
  color: black;
}

main {
  text-align: left;
  padding: 10px 20px ;
}

.why-chocolates img {
  width: 100%
}

main .why-chocolates h2 {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2em;
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0);
}

main .why-chocolates p {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
  top: 28%;
  left: 50%;
  transform: translate(-50%,-20%);
  font-size: 1em;
  text-decoration: none;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0);
}

.tiers {
  padding: 20px;
  text-align: center;
}

.tiers ul {
  list-style: none;
  font-size: 2em;
}

.s-tier {
  color: aqua;
}

.a-tier {
  color: green;
}

.b-tier {
  color: lightgreen;
}

.c-tier {
  color: yellow;
}

.d-tier {
  color: orange;
}

.f-tier {
  color: darkred;
}

.brand-overviews {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.brand-overviews img {
  width: 25%;
}

.brand-overviews h1, h2 {
  padding-top: 20px;
}

.Cadbury {
  display: flex;
  align-items: center;
  text-align: center;
}

.Cadbury .Cadbury-description {
  flex-direction: column;
}


/* .brand-overviews .Cadbury h3 {
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-0%,-410%);
  font-size: 3em;
  text-decoration: none;
  background-color: rgba(161, 69, 7, 0);
  padding: 10px 30px;
  border-radius: 20px;
} */

.honorable-mentions {
  padding: 20px 0px;
}

.honorable-mentions h1, h2 {
  padding-top: 20px;
}

footer {
  text-align: right;
}