* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
}

body {
  font-family: "Arial", sans-serif;
}

#recipeDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#recipeDetailsContainer h2 {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 20px;
}

#recipeDetailsContainer img {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.image-button-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favourite-button,
.unfavourite-button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.favourite-button:hover,
.unfavourite-button:hover {
  background-color: #f0f0f0;
}

/* Additional Sections */
#recipeDetailsContainer p {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

#recipeDetailsContainer h3 {
  font-size: 1.8em;
  border-bottom: 2px solid black;
  margin: 15px 0 10px;
}

/* Lists */
#recipeDetailsContainer ul,
#recipeDetailsContainer ol {
  margin: 0 0 20px 20px;
}

#recipeDetailsContainer ul {
  list-style-type: disc;
}

#recipeDetailsContainer ol {
  counter-reset: step-counter;
  list-style-type: none;
}

#recipeDetailsContainer ol li {
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

#recipeDetailsContainer ol li::before {
  counter-increment: step-counter;
  content: counter(step-counter) ".";
  position: absolute;
  left: 0;
  font-size: 0.9em;
  font-weight: bold;
  color: #00796b;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  #recipeDetailsContainer {
    padding: 15px;
  }

  #recipeDetailsContainer img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #recipeDetailsContainer img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #recipeDetailsContainer {
    padding: 5px;
  }

  #recipeDetailsContainer img {
    margin-bottom: 10px;
  }

  #recipeDetailsContainer div {
    width: 90%;
  }
}
